<div class="container mt-4">
  <div class="row mbr-justify-content-center">

    <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-volume-up fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Permanecer <span>Bem Sucedido</span></h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Ouça e assista palestras sempre com frequência e nunca abandone seus sonhos e objetivos.</p>
                <p>Segue um exemplo: <a href="https://www.youtube.com/watch?reload=9&v=L_u-WWkipF4" target="_blank"> Clique aqui</a> </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-calendar fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Crie
                    <span>Uma Equipe Eficaz</span>
                </h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Escolha bem sua equipe pelo profissionalismo, Amor a Programação e compromisso.</p>
                <p>Segue um exemplo: <a href="https://softwarezen.me/como-programadores-podem-contribuir-com-a-gestao/" target="_blank"> Clique aqui</a> </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-globe fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Lançar
                    <span>um Projeto Único</span>
                </h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Use sempre a lógica e use todos os recursos disponiveis para lançar um projeto com sua cara.</p>
                <p>Segue um exemplo: <a href="https://www.devmedia.com.br/conheca-os-padroes-de-projeto/957" target="_blank"> Clique aqui</a> </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-trophy fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Atinja <span>Seus Alvos</span></h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Diante de um Mercado competitivo, é preciso muita dedicação para atingir seus alvos.</p>
                <p>Segue um exemplo: <a href="http://www.techoje.com.br/site/techoje/categoria/detalhe_artigo/719" target="_blank"> Clique aqui</a> </p>
            </div>
        </div>
    </div>
</div>
