<app-titulo style="font-family: monotype corsiva;" [titulo]="'Desenvolvedor'"></app-titulo>

<div class="text-center">
    <h1 class="display-4">Bem Vindo !!!</h1>
    <p>Visite o <a href="https://www.youtube.com/channel/UC-7rKFVKo4JNNifPBBEEoYw?view_as=subscriber" target="_blank">Canal do Desenvolvedor</a></p>
</div>

<hr />

<div class="container">

    <div class="row" style="text-align:center;">
        <div>
            <h3 style="font-family: monotype corsiva;"><strong><em>Paulo Cesar Cordovil Bruno: Programador e Desenvolvedor DOT.NET</em></strong></h3>

            <br><br>

            <p style="text-align: justify; text-indent: 50px;">
                Sou programador FullStack DOT.NET C# DesckTop/ADO.NET (DBA em SQL SERVER,
                procedures cursor, Jobs etc.. trabalho também com MySql Workbench
                usando XAMP e com fácil adaptação a outros Bancos), WEB ASP.NET MVC
                Core com Entity Framework e API´s  Rest, Sintaxe Razor domínio do
                Postman para testes em Json, HTML, CSS, Java Script, Angular e Bootstrap;
                Controle de versionamento GitHub e Azure DevOps.
                Domino a Técnica de programação em camadas, domino OOP/POO
                (Programação Orientada à Objetos) e possuo boas práticas de programação,
                meus códigos são bem elaborados e com uma lógica muito eficiente.
                Tenho Sistemas Rodando em máquinas de clientes cujo sou programador
                autônomo. Estudo no momento para Certificação máxima Microsoft e
                estudando Xamarin Cross Plataform para aplicativos móveis.
            </p>
        </div>
    </div>

    <br />

    <div class="row" style="text-align:center;">
        <div class="col col-lg-12">
            <p style="text-align: justify; text-indent: 50px;">
                Programo por paixão, amo programar e meu objetivo é trabalhar em uma
                empresa de T.I. para conhecer pessoas como eu cujo possa conviver,
                aprender e ensinar. Tenho muita vontade e paixão quando se trata de
                programação, estou sempre disposto a encarar desafios e aprender mais
                e mais com eles. Tenho muita facilidade de aprendizado e de passar
                conhecimentos, sou uma pessoa simples e de convivência Amigável e
                colaborativa.
            </p>
        </div>
    </div>
</div>
